<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<center>
    <h2>View Blood Request By Patient</h2>

    <div class="container mt-3">
        <div class="table-responsive">
            <table border="2" class="table table-bordered">
        <tr>
            <td>Patiant Name</td>
            <td>Blood group</td>
            <td>Unit</td>
            <td>Phone</td>
            <td>Hospital</td>
            <td>Status</td>
           </tr>
        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        
    </table>
</div>
</div></center>

</body>
</html>
